<!DOCTYPE html>
<html >
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'assets/images/logo1-128x128.png' %}" type="image/x-icon">
  <meta name="description" content="Website for Estaa Hair">
  <title>Estaa Hair|Products and Services</title>
  <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/animatecss/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
  
  
  
</head>
<body>
<section class="menu cid-qZjXN9c3r7" once="menu" id="menu1-13">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="home">
                         <img src="{% static 'assets2/images/logo2.png' %}" alt="Estaa Hair" style="height: 5rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-white display-4" href="{% url 'home' %}">
                        Estaa Hair
                    </a>
                </span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'home' %}">
                        <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'blog' %}">
                        <span class="mbri-user2 mbr-iconfont mbr-iconfont-btn"></span>
                        Natural Hair
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'services' %}" >
                        <span class="mbri-edit mbr-iconfont mbr-iconfont-btn"></span>
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'reviews' %}">
                        <span class="mbri-edit mbr-iconfont mbr-iconfont-btn"></span>
                        Reviews
                    </a>
                </li>
                {% if request.user.username == "" %}
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'login' %}">
                        <span class="mbri-hearth mbr-iconfont mbr-iconfont-btn"></span>
                        Login
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'userpage' %}">
                        <span class="mbri-hearth mbr-iconfont mbr-iconfont-btn"></span>
                        Profile
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'contact' %}">
                        <span class="mbri-smile-face mbr-iconfont mbr-iconfont-btn"></span>
                        Contact Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{% url 'shop' %}">
                        <span class="mbri-shopping-cart mbr-iconfont mbr-iconfont-btn"></span>
                        Store
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobiri.se/v">html templates</a></section><section class="countdown1 cid-qZk43UkaEI" id="countdown1-h">
    
    
    
    <div class="container ">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Countdown
        </h2>
        <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
            Time left till next Sale
        </h3>
        
    </div>
    <div class="container countdown-cont align-center">
        <div class="daysCountdown" title="Days"></div>
        <div class="hoursCountdown" title="Hours"></div> 
        <div class="minutesCountdown" title="Minutes"></div> 
        <div class="secondsCountdown" title="Seconds"></div>
        <div class="countdown pt-5 mt-2" data-due-date="2018/09/15"> 
        </div>
    </div>
</section>

<section class="mbr-section content5 cid-qZk4o82Iv2 mbr-parallax-background" id="content5-l">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
                    Wig Making
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    Wide selection of Quality Products are available here.
                </h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-qZk4enxFvy" id="features3-j">

  
    <div class="container">
        <div class="media-container-row">
            {% for hair in hairs %}  
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ hair.image }}" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            {{ hair.name }}
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            {{ hair.length }} <br> {{ hair.weight }} <br> {{ hair.quantity }} <br> {{ hair.price }}
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="https://mobirise.com" class="btn btn-primary display-4">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</section>

<section class="mbr-section content5 cid-qZk4o82Iv2 mbr-parallax-background" id="content5-l">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
                    Hair Treatment and Styling
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    Wide selection of Quality Products are available here.
                </h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-qZk4enxFvy" id="features3-j">

    

    
    <div class="container">
        <div class="media-container-row">
            {% for essential in wigessentials %}  
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ essential.image }}" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            {{ essential.name }}
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            {{ essential.quantity }} <br> {{ essential.price }}
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="https://mobirise.com" class="btn btn-primary display-4">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
</section>

<section class="mbr-section content5 cid-qZk4o82Iv2 mbr-parallax-background" id="content5-l">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
                    Hair Colouring
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    Wide selection of Quality Products are available here.
                </h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-qZk4enxFvy" id="features3-j">

    

    
    <div class="container">
        <div class="media-container-row">
            {% for accessory in hairaccessories %}  
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ accessory.image }}" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            {{ accessory.name }}
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            {{ accessory.quantity }} <br> {{ accessory.price }}
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="https://mobirise.com" class="btn btn-primary display-4">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
</section>

<section class="mbr-section content5 cid-qZk4o82Iv2 mbr-parallax-background" id="content5-l">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
                    Frontal and Closure Customization
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    Wide selection of Quality Products are available here.
                </h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-qZk4enxFvy" id="features3-j">

    

    
    <div class="container">
        <div class="media-container-row">
            {% for appliance in appliances %}  
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{{ appliance.image }}" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            {{ appliance.name }}
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            {{ appliance.quantity }} <br> {{ appliance.price }}
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">
                        <a href="https://mobirise.com" class="btn btn-primary display-4">
                            Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>




  <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/popper/popper.min.js' %}"></script>
  <script src="{% static 'assets/tether/tether.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/ytplayer/jquery.mb.ytplayer.min.js' %}"></script>
  <script src="{% static 'assets/vimeoplayer/jquery.mb.vimeo_player.js' %}"></script>
  <script src="{% static 'assets/parallax/jarallax.min.js' %}"></script>
  <script src="{% static 'assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js' %}"></script>
  <script src="{% static 'assets/viewportchecker/jquery.viewportchecker.js' %}"></script>
  <script src="{% static 'assets/countdown/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>
  <script src="{% static 'assets/slidervideo/script.js' %}"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>